<div id="markdown-helper" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Writing content</h3>
        <p>Monoture uses <code>markdown</code> to format and style your content. There are just a few simply rules to learn to get you started;</p>
        <h4>Headings</h4>
        <p>To write a heading, just start a new line with a hash (<code>#</code>). The number of hashes you use determine how big the header is;</p>
        <pre><code># Heading 1 (Larger)
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6 (Smaller)</code></pre>
        <h4>Emphasis</h4>
        <p>Text can be italicised, bolded or both;</p>
        <pre><code>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__
_You **can** combine them_</code></pre>
        <h4>Lists</h4>
        <p>Lists are a great way to break up content. It's as simple as putting a star (<code>*</code>) for bullet lists or <code>1.</code> for a numbered list;</p>
        <pre><code>* Bullet list item 1
* Bullet list item 2
* Bullet list item 3</code></pre>
        <pre><code>1. Numbered list item 1
2. Numbered list item 2
3. Numbered list item 3</code></pre>
        <h4>Images</h4>
        <p>Images are a little bit more tricky than headings and lists. They take the following format;</p>
        <pre><code>![alternative text](image url "Title text")</code></pre>
        <hr/>
        <p>A more in-depth Markdown cheat sheet can be found on <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">on GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>
