<form method="post" ng-submit="save()" class="flex-xs-1 flex-xs flex-xs-column">
  <!-- Navigation -->
  <ng-include src="'/dashboard/app/partials/navbar.html'"></ng-include>

  <div class="flex-xs-1 flex-xs flex-xs-column flex-sm-row">
    <!-- Sidebar -->
    <aside class="list-group list-group-flush list-group-inverse flex-sm-2 flex-lg-1 overflow-y scrollbar-inverse">

      <div class="list-group-item">
        <h4>Properties</h4>

        <!-- Published -->
        <div class="form-group">
          <label>Published</label>
          <select name="published" class="form-control form-control-inverse" ng-model="post.published" ng-options="item.value as item.label for item in publishedOptions" required></select>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" rows="2" maxlength="160" class="form-control form-control-inverse" ng-model="post.description" required></textarea>
        </div>

        <!-- Slug -->
        <div class="form-group">
          <label>Slug</label>
          <input value="" name="slug" placeholder="Slug" class="form-control form-control-inverse" ng-model="post.slug" required/>
        </div>

        <!-- Featured -->
        <div class="form-group">
          <label>Featured</label>
          <select name="featured" class="form-control form-control-inverse" ng-model="post.featured" ng-options="item.value as item.label for item in publishedOptions" required></select>
        </div>

        <hr class="m-t-3" style="border-color : #666">
        <small class="text-muted">Created {{post.created_at | timeago}}</small>
        <br>
        <small class="text-muted">Updated {{post.updated_at | timeago}}</small>
      </div>
    </aside>

    <!-- Editor -->
    <div class="flex-xs-4 flex-xs flex-xs-column">

      <nav class="navbar navbar-light navbar-full bg-faded flex-sm">

        <!-- Title -->
        <input name="title" placeholder="Title" maxlength="120" class="form-control-minimal flex-sm-1" ng-model="post.title" required/>

        <div class="btn-group pull-right">

          <a href="#/" class="btn btn-secondary btn-sm">
            <i class="fa fa-angle-left"></i> Back
          </a>

          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-floppy-o"></i> Save
          </button>

        </div>
      </nav>

      <!-- Edit area -->
      <div class="flex-xs-1 flex-xs">

        <!-- Input -->
        <div class="flex-xs-1 flex-xs">
          <textarea placeholder="Start writing your blog post here." class="flex-xs-1 textarea-flush p-a-1 scrollbar-teal" ng-model="post.body" required></textarea>
        </div>

        <!-- Preview -->
        <div id="preview" class="flex-xs-1 p-a-1 b-l-5 overflow-y scrollbar-teal bg-white hidden-md-down" ng-bind-html="post.body | markdown"></div>
      </div>
    </div>
  </div>
</form>

<div class="alert alert-static alert-danger" ng-show="errors">
  <strong>Couldn't save post : </strong>
  <ul>
    <li ng-repeat="error in errors.data.meta.errors">
      {{error.msg}}
    </li>
  </ul>
</div>
